h1 {
    font-size: 60px;
    color: black;
    text-align: center;
}

#header {
    list-style: none;
    text-align: center;
    background-color: #000;
}

.container {
    padding: 0;
    background-color: #ffffffcb;
    min-height: 100vh;
}

body {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
}

#header-item {
    margin: 0 auto;
}

#header-item a {
    text-decoration: none;
    color: #fff;
}

#greeting {
    text-align: center;
}